*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

.skelton {
  opacity: 0.7;
  animation: skelton-loading 1s linear infinite alternate;
}

.skelton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.3em;
}

.skelton-icon {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
}

@keyframes skelton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  0% {
    background-color: hsl(200, 20%, 90%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-container {
  width: 120px;
}

.logo {
  width: 100%;
  object-fit: cover;
  display: inline-block;
}

.nav-items > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-items > ul > li {
  margin: 0 1em;
  cursor: pointer;
  font-weight: 400;
}

.nav-items > ul > li > a {
  text-decoration: none;
}

.body {
  max-width: 1080px;
  margin-inline: auto;
}

.res-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
  place-items: center;
  /* margin-bottom: 2em; */
}

.res-card {
  width: 100%;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.res-card:hover {
  transform: scale(0.9);
}

.res-card-title {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

.res-image {
  background-size: cover;
  border-radius: 0.7em;
  padding-top: 7.5em;
  text-align: center;
  overflow: hidden;
}

.res-image-title {
  color: #fff;
  font-weight: 700;
  padding-top: 0.5em;
  background: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(0 0% 0% /0.5) 40%,
    hsl(0 0% 0% /1)
  );
}

.star-icon {
  width: 30px;
  object-fit: cover;
}
.rating-container {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.rating-desc {
  font-weight: 500;
  padding-left: 0.5em;
}

.cuisone-container,
.area-container {
  font-size: 1.1rem;
  font-weight: 300;

  margin: 0.5em 0;
}

.res-container-link {
  text-decoration: none;
  color: #000;
}

.res-card-title,
.star-icon,
.cuisone-container,
.area-container {
  padding-left: 0.5em;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}
.btn {
  padding: 1em 1.5em;
  background-color: #f4650d;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 700;
}

.filter-btn:hover {
  background-color: #f5640ae6;
}

.search {
  flex-grow: 1;
}

.search-box {
  width: 50%;
  padding: 0.8em;
  border-radius: 0.5em;
  margin-right: 0.2em;
  font-weight: 700;
  outline: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.search-box:hover,
.search-box:focus {
  border: 2px solid #f4650d;
}

.search-icon {
  width: 12px;
}

.res-desc {
  margin-top: 2em;
  padding: 1em;
  border-top: 1px solid #e9e9eb;
  border-bottom: 1px solid #e9e9eb;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.res-desc--title {
  padding-bottom: 0.5em;
}
.res-desc--cuisine {
  padding-bottom: 0.5em;
  color: #82838f;
}

.res-desc--area {
  padding-bottom: 1em;
  color: #82838f;
}

.res-desc--delivery-message {
  color: #82838f;
  display: flex;
  align-items: center;
}

.res-desc--delivery-message > img {
  width: 30;
  display: inline-block;
  margin-right: 0.5em;
}

.res-desc--right {
  border: 1px solid #e9e9eb;
  padding: 0.5em;
  border-radius: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res-desc--star {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9eb;
  padding-bottom: 1em;
}

.res-desc--star > img {
  width: 20px;
  margin-right: 0.5em;
}

.res-desc--star > h3 {
  color: #1fb141;
}

.res-desc--total-rating {
  color: #82838f;
  padding: 1em 0;
  font-weight: 500;
  font-size: 0.9rem;
}

.accordion-list {
  list-style: none;
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.5em;
  box-shadow: 0 0.3em 0.7em 0 rgba(0, 0, 0, 0.2),
    0 0.3em 1em 0 rgba(0, 0, 0, 0.19);
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}

.accordion-caret {
  width: 1em;
  transform: rotate(180deg);
  transition: transform 300ms ease-in;
}

.acoordion-input[type="checkbox"] {
  display: none;
}

.accordion-content-container {
  padding: 0 0.5em;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in;
}

.accordion-content {
  overflow: hidden;
}

.acoordion-input[type="checkbox"]:checked
  + .accordion-label
  + .accordion-content-container {
  grid-template-rows: 1fr;
}

.acoordion-input[type="checkbox"]:checked
  ~ .accordion-label
  > .accordion-caret {
  transform: rotate(0deg) !important;
}

.accordion-content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #e9e9eb;
  margin-bottom: 1em;
}

.accordion-content-item-title {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 0.5em;
}

.accordion-content-item-price {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1em;
}

.accordion-content-item-description {
  color: #82838f;
  font-size: 0.9rem;
}

.accordion-content-item-image-container {
  padding-left: 0.5em;
  position: relative;
}

.accordion-content-item-image {
  object-fit: cover;
  border-radius: 0.5em;
  width: 150px;
}

.accordion-content-item-btn {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 1em 3.5em;
  background-color: #fff;
  color: #1fb141;
  border: 1px solid #e9e9eb;
  outline: 0;
  border-radius: 0.4em;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0.3em 0.7em 0 rgba(0, 0, 0, 0.2),
    0 0.3em 1em 0 rgba(0, 0, 0, 0.19);
}
